body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.miv2-image-viewer {
  display: grid;
  grid-template:
    "header header"
    "gallery image"
    "gallery controls";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  width: 100%;
  height: 100vh;
}

.miv2-viewer-header {
  grid-area: header;
  border: 1px solid red;
}

.miv2-image-gallery {
  grid-area: gallery;
  border: 1px solid blue;
}

.miv2-thumbnail-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.miv2-thumbnail {
  
}
.miv2-thumbnail:hover {
  background-color: #FF0000;
}
.miv2-thumbnail.selected {
  background-color: darkred;
  border-left: 3px solid red;
}
.miv2-thumbnail img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
}

.miv2-image-display {
  grid-area: image;
  border: 1px solid black;
  width: 100%;
  height: 480px;
  background-image: url("http://picsum.photos/1280/720");
  background-repeat: no-repeat;
}

.miv2-image-controls {
  grid-area: controls;
  border: 1px solid green;
  display: flex;
}