:root {
  --color-accent-primary: #0063B3;  
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.miv2-image-viewer {
  display: grid;
  grid-template:
    "header header"
    "gallery image"
    "gallery controls";
  grid-template-columns: 250px 1fr;
  grid-template-rows: 100px 1fr 100px;
  width: 100%;
  height: 100vh;
}

.miv2-viewer-header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E7EBF0;
  border-bottom: 1px solid #CCD2D9;
  padding: 12px 24px;
  height: 80px;
}
.miv2-header-title {
  flex: 1;
}
.miv2-header-metadata {
  display: flex;
  gap: 24px;
}
.miv2-header-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.miv2-header-item-label {
  font-size: 12px;
  color: #5A6A7E;
  font-weight: 500;
}
.miv2-header-item-value {
  font-size: 14px;
  color: #16253B;
  font-weight: 600;
}

.miv2-image-gallery {
  grid-area: gallery;
  border: 1px solid blue;
}

.miv2-thumbnail-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.miv2-thumbnail {
  
}
.miv2-thumbnail:hover {
  background-color: #FF0000;
}
.miv2-thumbnail.selected {
  background-color: darkred;
  border-left: 3px solid red;
}
.miv2-thumbnail img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  object-fit: cover;
}

.miv2-image-display {
  grid-area: image;
  border: 1px solid black;
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
}

.miv2-image-controls {
  grid-area: controls;
  border: 1px solid green;
  display: flex;
}

.miv2-image-control.active {
  background-color: var(--color-accent-primary);
  border-color: var(--color-accent-primary);
  color: white;
  font-weight: 400;
}